services:
  eureka-server:
    build: ./eureka-service
    container_name: eureka-service
    ports: 
      - "8761:8761"
    networks:
      - microservices-network
  user-service:
    build: ./users-service
    environment:
      - SPRING_PROFILES_ACTIVE=qa   # ✅ CORRECT PLACE
    depends_on:
      - eureka-server
    networks:
      - microservices-network
  api-gateway:
    build: ./api-gateway
    environment:
      - SPRING_PROFILES_ACTIVE=qa   # ✅ CORRECT PLACE
    depends_on:
      - eureka-server
    container_name: api-gateway
    ports:
      - "8765:8765"
    networks:
      - microservices-network


networks:
  microservices-network:
    driver: bridge