spring:
  application:
    name: user-service
  datasource:
    username: sa
    url: jdbc:h2:mem:testdb
  h2:
    console:
      enabled: true

server:
  port: 0


eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/ 
