spring:
  application:
    name: account-service
server:
  port: 8082
eureka:
  instance:
    ip-address: false
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/